{% include "layouts/base.twig" %} {% block content %} {# data: first_name
insertion last_name score_created_at value #}

<main class="flex flex-col">
	<section class="flex gap-2">
		<h1>Overzicht speler</h1>
	</section>
	<section>
		{% if scores is empty %}
		<span> Er zijn geen resultaten </span>
		{% else %}
		<table>
			<thead>
				<tr>
					<th>Voornaam</th>
					<th>Tussenvoegsel</th>
					<th>Achternaam</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% for result in scores %}
				<tr>
					<td>{{ result.id }}</td>
					<td>{{ result.value }}</td>
					<td>{{ result.created_at }}</td>
					<td>
						<a href="{{ globals.urlRoot }}/persons/edit/{{ result.id }}"
							>Bewerk</a
						>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		{% endif %}
	</section>
</main>
{% endblock %}
