{% extends 'layouts/base.twig' %} {% block content %}
<main>
	<section>
		<h1>Create reservation page</h1>
		<p>Here you can make a reservation</p>
	</section>
	<section>
		<h3>Create</h3>
		<form
			action="{{ globals.urlRoot }}/reservation/edit/{{ reservation.id }}"
			method="post"
		>
			<label>
				<span>Person:</span>
				<select name="person_id">
					<option>Select a person</option>
					{% for person in persons %} {% if person.id == reservation.person_id
					%}
					<option value="{{ person.id }}" selected>
						{{ person.first_name }} {{ person.last_name }}
					</option>
					{% else %}
					<option value="{{ person.id }}">
						{{ person.first_name }} {{ person.last_name }}
					</option>
					{% endif %} {% endfor %}
				</select>
			</label>
			<label>
				<span>Track:</span>
				<select name="track_id">
					<option>Select a track</option>
					{% for track in tracks %} {% if track.id == reservation.track_id %}
					<option value="{{ track.id }}" selected>
						{{ track.code }}
					</option>
					{% else %}
					<option value="{{ track.id }}">
						{{ track.code }}
					</option>
					{% endif %} {% endfor %}
				</select>
			</label>
			<label>
				<span>Opening:</span>
				<select name="opening_id">
					<option>Select an opening</option>
					{% for opening in openings %} {% if opening.id ==
					reservation.opening_id %}
					<option value="{{ opening.id }}" selected>
						{{ opening.start }} tot {{ opening.end }}
					</option>
					{% else %}
					<option value="{{ opening.id }}">
						{{ opening.start }} tot {{ opening.end }}
					</option>
					{% endif %} {% endfor %}
				</select>
			</label>
			<label>
				<span>Date:</span>
				<input
					type="date"
					name="date_reservation"
					value="{{ reservation.date_reservation }}"
				/>
			</label>
			<label>
				<span>Time:</span>
				<input
					type="time"
					name="time_reservation"
					value="{{ reservation.time_reservation }}"
				/>
			</label>
			<label>
				<span>Adults:</span>
				<input type="number" name="adults" value="{{ reservation.adults }}" />
			</label>
			<label>
				<span>Children:</span>
				<input
					type="number"
					name="children"
					value="{{ reservation.children }}"
				/>
			</label>
			<label>
				<span>Active:</span>
				<input type="checkbox" name="is_active" {% if reservation.is_active == 1
				%}checked{% endif %} />
			</label>
			<button>
				<span>Update</span>
			</button>
		</form>
	</section>
</main>
{% endblock %}
